.list-container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-size: 3rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 5rem;
}
.list li {
  padding: 0 1rem;
}
@media (max-width: 1150px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 760px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
